h1 {
	margin: auto;
	width:500px;
	text-align: center;
	border: 8px solid pink;
}

#section1 {
	margin: auto;
	width: 500px;
	text-align: justify;
}

#shibe {
	margin: auto;
	float: right;
	clip-path: circle();
	shape-outside: circle();
}

.float {
	clip-path: circle();
	shape-outside: circle();
}

#section2 {
	margin: auto;
	width: 1000px;
}

#dolly {
	margin: auto;
	display: block;
}

.watermark {
	text-align: center;
	color: rgba(0, 0, 0, 0.2);
	font-size: 2rem;
	font-weight: bold;
	margin: -200px 0px 0px 0px;
	padding: 20px;
	text-transform: uppercase;
	transform: rotate(-45deg);
	user-select: none;
}

.wrapper {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: pink;
	text-align: center;
	padding: 20px;
}

.item {
	background-color: white;
	padding: 15px;
	border: 3px solid pink;
}